@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Carbon — Light */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;

    --card: 0 0% 96%;
    --card-foreground: 0 0% 9%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 221 99% 52%;

    --primary: 221 99% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 269 96% 61%;
    --secondary-foreground: 0 0% 100%;

    --accent: 177 100% 25%;
    --accent-foreground: 0 0% 100%;

    --muted: 0 0% 88%;
    --muted-foreground: 0 0% 32%;

    --radius: 0.375rem;
  }

  /* Carbon — Dark */
  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 96%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 96%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 219 100% 66%;

    --primary: 219 100% 66%;
    --primary-foreground: 0 0% 9%;

    --secondary: 270 100% 80%;
    --secondary-foreground: 0 0% 9%;

    --accent: 179 70% 54%;
    --accent-foreground: 0 0% 9%;

    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
